
h2 {
    text-align: center;
    text-decoration: double;
    color: rgba(221, 216, 208, 0.801);
    background-color: #111;
    margin-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
